/* Coolors Exported Palette - coolors.co/5bc0eb-fde74c-9bc53d-e55934-fa7921 */

/* HSL */
$color1: hsla(198%, 78%, 64%, 1);
$color2: hsla(53%, 98%, 65%, 1);
$color3: hsla(79%, 54%, 51%, 1);
$color4: hsla(13%, 77%, 55%, 1);
$color5: hsla(24%, 96%, 55%, 1);

/* RGB */
$color1: rgba(91, 192, 235, 1);
$color2: rgba(253, 231, 76, 1);
$color3: rgba(155, 197, 61, 1);
$color4: rgba(229, 89, 52, 1);
$color5: rgba(250, 121, 33, 1);
